<!DOCTYPE html>
<html>
  <head>
    <title>输入序列实现单碱基编辑结果预测</title>
  </head>

  <body>
    <h1>输入序列实现单碱基编辑结果预测</h1>
    <form action="/" method="POST">
      <label for="teditor">编辑技术:</label>
      <select name="teditor" id="teditor">
        <option value="ABEmax">ABEmax(A->G)</option>
        <option value="ABE8e">ABE8e(A->G)</option>
        <option value="BE4max">BE4max(C->T)</option>
        <option value="Target-AID">Target-AID(C-T)</option>
      </select>
      <br />
      <!-- <input type="text" name="teditor" id="teditor" required /><br /> -->

      <label for="sample_df">要预测的序列:</label>
      <input
        type="text"
        name="sample_df"
        id="sample_df"
        value="ACAGAATTTGTTGAGGGCGA"
        style="width: 200px"
        required
      /><br />

      <label for="pos">要预测编辑的序列位置:</label>
      <select name="pos" id="pos">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="20">20</option>
      </select>
      <br />
      <!-- <input type="number" name="pos" id="pos" required /><br /> -->

      <label for="pred_option">预测方式:</label>
      <select name="pred_option" id="pred_option" required>
        <option value="mean">取均值</option>
        <option value="median">取中间值</option>
        <option value="max">取最大值</option>
      </select>
      <br />

      <input type="submit" value="预测" />
    </form>
  </body>
</html>
